@model Fleqx.Models.SignupModel
@using Fleqx.Data.DatabaseModels

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Register</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("Signup", "Security", FormMethod.Post, new { id = "signupForm", @class = "login-form center-block", autocomplete = "off" }))
				{
					<label class="signup-label">Username</label>
					@Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
					<label class="signup-label">Password</label>
					@Html.PasswordFor(model => model.Password, new { @class = "form-control" })
					<label class="signup-label">First name</label>
					@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
					<label class="signup-label">Last name</label>
					@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
					<label class="signup-label">Role</label>
					@Html.DropDownListFor(model => model.Role, RoleHelper.Roles, new { @class = "form-control" })
					<button type="submit" form="signupForm" class="btn btn-primary btn-lg btn-block center-block submit-login">Submit</button>
				}
			</div>
		</div>
	</div>
</div>


